button a {
  color: black;
}

.inputs {
  color: #cc0000;
}

body {
  text-align: center;
}

.row {
 text-align: left;
 padding-left: 1em;
}

h1, h3 {
  color: #4C4CFF;
}

.result {
  color: #4CA64C;
}

.form-body-text {
  margin-left: 1em;
}
